.modal {
    text-align: center;
}
.modal-button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #57C785;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}